# Django
Django==2.2.6
django-environ==0.4.5
django-extensions==2.2.3
psycopg2==2.8.3

# Environment
black==19.3b0
jedi==0.15.1
pyls-black==0.4.4
python-jsonrpc-server==0.2.0
python-language-server==0.29.1
wakatime==13.0.0
